.btn1{
    width: 25%;
    border-radius: 20px;
}
.main{
    width:300px;
    
}
.first{
    background-color: antiquewhite;
    border-color: antiquewhite;
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    
}
.second{
    background-color:rgb(123, 178, 226);
    border-color: rgb(123, 178, 226);
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    
}
.btn2{
    width: 40%;
    }
strong{
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fouth{
    background-color:rgb(165, 248, 193);
    border-color: rgb(165, 248, 193);
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    
}
.third{
    background-color:rgb(243, 186, 223);
    border-color: rgb(243, 186, 223);
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;

    
}
.second,.third,.fouth{
    margin-left: 70px;
}