.btn1{
    width: 35%;
    border-radius: 20px;
    border-style: solid;
}
.main{
    width:300px;
    
}
.first-sm{
    background-color: antiquewhite;
    border-color: antiquewhite;
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;

    
}
.second{
    background-color:rgb(123, 178, 226);
    border-color: rgb(123, 178, 226);
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    
}
.btn2{
    width: 50%;
    }
strong{
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fouth-sm{
    background-color:rgb(165, 248, 193);
    border-color: rgb(165, 248, 193);
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    
}
.third-sm{
    background-color:rgb(243, 186, 223);
    border-color: rgb(243, 186, 223);
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    margin-right: 40px;
    
}
.second,.third,.fouth{
    margin-left: 70px;
}
body{
    -webkit-text-size-adjust: 80%;
}
.five-sm{
    background-color: rgb(199, 165, 253);
    border-color: rgb(199, 165, 253);
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;

    
}
.six-sm{
    background-color:rgb(237, 180, 88);
    border-color:rgb(237, 180, 88);
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    
}
.seven-sm{
    background-color:rgb(24, 226, 145);
    border-color: rgb(24, 226, 145);
    width: 300px;
    height: 200px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    margin-right: 40px;
    
}
h6{
    padding-top:8px;
}
.eight-sm{
    background-color: pink;
    border-color:pink;
    width: 200px;
    height: 100px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    margin-left: 45px;

    
}
.nine-sm{
    background-color:gray;
    border-color:gray;
    width: 200px;
    height: 100px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    margin-left: 45px;
    
}
.ten-sm{
    background-color:rgba(248, 248, 117, 0.943);
    border-color:rgba(248, 248, 117, 0.943);
    width: 200px;
    height: 100px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    margin-left: 45px;   
}
.eleven-sm{
    background-color:indianred;
    border-color:indianred;
    width: 200px;
    height: 100px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    margin-left: 45px;

    
}
.twelve-sm{
    background-color:palegreen;
    border-color:palegreen;
    width: 200px;
    height: 100px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    margin-left: 45px;
    
}
.thirteen-sm{
    background-color:palevioletred;
    border-color:palevioletred;
    width: 200px;
    height: 100px;
    border-style: solid;
    text-align: center;
    padding-top: 15px;
    margin-left: 45px;   
}
.container-seven{
    background-color: rgba(149, 227, 216, 0.672);
}
.container-eight{
    background-color:rgba(149, 227, 216, 0.672); ;

}
.container-eight-sm{
    -webkit-text-size-adjust: 58%;
    
    
}
.footer{

    background-color:rgb(110, 114, 114);
    -webkit-text-size-adjust: 30%;
}
h4{
    color: rgb(228, 228, 75);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.developer{
    color:red;
    font-family:monospace;
    font-size: 25px;
        
}
